@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap");
:root {
  /*  Couleurs */
  --main-background: #181f2a;
  --footer-background: #0b1523;
  --testimonials-background: #202a3c;
  --btn-default-color: #339ecc;
  --btn-hover-color: #65e2d9;
  --color-light: #f8fafc;
  --color-dark: #0f172a;

  /* Typographie */
  --font-family-base: "Raleway", sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-md: 3.5rem;

  /* weight */
  --weight-base: 200;
  --weight-semi-bold: 400;
  --weight-blod: 700;

  /*  Espacement (marges / paddings) */
  --space-1: 0.875rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3.5rem;
  --space-7: 4.5rem;

  /* Tailles */
  --radius-base: 4px;
  --radius-sm: 8px;
  --radius-lg: 16px;
  --radius-md: 24px;

  /* Animations */
  --transition-fast: 150ms ease;
  --transition-normal: 300ms ease;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  font-weight: var(--weight-base);
}

/* Styles globaux */
body {
  background: var(--main-background);
  color: var(--color-light);
  font-size: var(--font-size-base);
  padding: var(--space-5);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

li {
  list-style: none;
  color: var(--color-light);
}

/* Header */

header {
  width: 100%;
  height: auto;
  padding: var(--space-3) var(--space-6);
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* contenair links head */
.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    font-size: var(--font-size-base);
    margin: 0 var(--space-4);
    transition: var(--transition-normal);
  }
  /* links header */
  li:hover {
    font-weight: var(--weight-blod);
    text-decoration: underline;
  }
}

/* main  */
main {
  width: 100%;
  height: auto;
}

/* section hero */
.Hero-section {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: var(--space-5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* hero image */
  .img-hero {
    width: 60%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  h1 {
    font-size: var(--font-size-md);
    font-weight: var(--weight-blod);
    line-height: 4.5rem;
    margin: var(--space-5) 0;
    color: var(--color-light);
    text-align: center;
  }

  p {
    font-size: var(--font-size-xl);
    font-weight: var(--weight-base);
    text-align: center;
    line-height: var(--space-5);
    padding: 0 var(--space-7);
  }

  button {
    padding: var(--space-2) var(--space-7);
    background-color: var(--btn-default-color);
    color: var(--color-light);
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-size-base);
    border: none;
    border-radius: var(--radius-md);
    margin: var(--space-5) 0;
    transition: var(--transition-normal);
  }

  button:hover {
    background-color: var(--btn-hover-color);
  }
}

/* < ======================================================== > */
/* Media Queries */
/* screen mobile 320px -> 480px */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header {
    padding: var(--space-1);
  }

  /* logo mobile */
  .logo {
    width: 25%;
    height: auto;
  }

  /* contenair links head  mobile*/
  .menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);

    li {
      margin: 0;
    }
  }
  /* section hero */
  .Hero-section {
    width: 100%;
    margin-top: var(--space-7);

    /* hero image */
    .img-hero {
      width: 80%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    h1 {
      font-size: var(--font-size-lg);
      font-weight: var(--weight-blod);
      line-height: 2.2rem;
      margin: var(--space-4) 0;
      color: var(--color-light);
      text-align: center;
    }

    p {
      font-size: var(--font-size-sm);
      font-weight: var(--weight-semi-bold);
      text-align: center;
      line-height: var(--space-3);
      padding: 0;
    }
  }
}
