@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap");
:root {
  /* 🎨 Couleurs */
  --main-background: #181f2a;
  --footer-background: #0b1523;
  --testimonials-background: #202a3c;
  --btn-default-color: #339ecc;
  --btn-hover-color: #65e2d9;
  --color-light: #f8fafc;
  --color-dark: #0f172a;

  /* 🔠 Typographie */
  --font-family-base: "Poppins", sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --weight-base: 400;
  --weight-blod: 700;

  /* 📏 Espacement (marges / paddings) */
  --space-1: 12px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;

  /* 📦 Tailles */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* ⏱️ Animations */
  --transition-fast: 150ms ease;
  --transition-normal: 300ms ease;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  font-weight: var(--weight-base);
}

/* Styles globaux */
body {
  background: var(--main-background);
  color: var(--color-dark);
  font-size: var(--font-size-base);
  line-height: 1.6;
  padding: var(--space-5);
}

a {
  text-decoration: none;
  color: var(--color-light);
}

li {
  list-style: none;
  color: var(--color-light);
}

/* Header */

header {
  width: 100%;
  height: auto;
  padding: var(--space-4) var(--space-6);
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* contenair links head */
.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    font-size: var(--font-size-base);
    margin: 0 var(--space-4);
    transition: var(--transition-normal);
  }
  /* links header */
  li:hover {
    font-weight: var(--weight-blod);
    text-decoration: underline;
  }
}
