@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap");
:root {
  /*  Couleurs */
  --main-background: #181f2a;
  --footer-background: #0b1523;
  --testimonials-background: #202a3c;
  --btn-default-color: #339ecc;
  --btn-hover-color: #65e2d9;
  --color-light: #f8fafc;
  --color-dark: #0f172a;

  /* Typographie */
  --font-family-base: "Raleway", sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-md: 3.5rem;

  /* weight */
  --weight-base: 200;
  --weight-semi-bold: 400;
  --weight-blod: 700;

  /*  Espacement (marges / paddings) */
  --space-1: 0.875rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3.5rem;
  --space-7: 4.5rem;

  /* Tailles */
  --radius-base: 4px;
  --radius-sm: 8px;
  --radius-lg: 16px;
  --radius-md: 24px;

  /* Animations */
  --transition-fast: 150ms ease;
  --transition-normal: 300ms ease;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  font-weight: var(--weight-base);
}

/* Styles globaux */
body {
  background: var(--testimonials-background);
  color: var(--color-light);
  font-size: var(--font-size-base);
  /* padding: var(--space-5); */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

li {
  list-style: none;
  color: var(--color-light);
}

/* Header */

header {
  width: 100%;
  height: auto;
  padding: var(--space-3) var(--space-6);
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* contenair links head */
.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    font-size: var(--font-size-base);
    margin: 0 var(--space-4);
    transition: var(--transition-normal);
  }
  /* links header */
  li:hover {
    font-weight: var(--weight-blod);
    text-decoration: underline;
  }
}

/* main  */
main {
  width: 100%;
  height: auto;
}

/* section hero */
.Hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: url(../assets/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 auto;
  margin-top: var(--space-5);
  padding-bottom: var(--space-7);

  /* hero image */
  .img-hero {
    width: 60%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  h1 {
    font-size: var(--font-size-md);
    font-weight: var(--weight-blod);
    line-height: 4.5rem;
    margin: var(--space-5) 0;
    padding: 0 15%;
    color: var(--color-light);
    text-align: center;
  }

  p {
    font-size: var(--font-size-xl);
    font-weight: var(--weight-base);
    text-align: center;
    line-height: var(--space-5);
    padding: 0 20%;
  }

  button {
    padding: var(--space-2) var(--space-7);
    background-color: var(--btn-default-color);
    color: var(--color-light);
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-size-base);
    border: none;
    border-radius: var(--radius-md);
    margin: var(--space-5) 0;
    transition: var(--transition-normal);
    z-index: 5;
  }

  button:hover {
    background-color: var(--btn-hover-color);
  }
}
/* ======================================= Style Lucien*/
/* Design cards*/
.contenair-services {
  width: 100%;
  height: auto;
  background-color: var(--main-background);
}
.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7%;
  width: 100%;
  height: auto;
  padding-bottom: var(--space-7);
}
.service-card {
  padding: 30px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.icon-carte1 {
  background-image: url("../assets/images/icon-access-anywhere.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}
.icon-carte2 {
  background-image: url("../assets/images/icon-security.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}
.icon-carte3 {
  background-image: url("../assets/images/icon-collaboration.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}
.icon-carte4 {
  background-image: url("../assets/images/icon-any-file.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.block-illus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-6);
  height: 100%;
  height: auto;
  padding: var(--space-7);
}
.block1 {
  width: 45%;
  padding-top: 40%;
  background-image: url("../assets/images/illustration-stay-productive.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.block2 {
  width: 45%;
  padding-top: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.block2 h1 {
  font-weight: var(--weight-blod);
  font-size: var(--font-size-md);
  line-height: 4.5rem;
}
.link-stay {
  width: 175px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  border-bottom: #65e2d9 solid;
  border-width: 1px;
  padding-bottom: 4px;
}
.link-stay p {
  color: var(--btn-hover-color);
}

.link-stay img {
  width: 20px;
  height: 20px;
}
.link-stay p:hover {
  color: #b5f3ea;
}

/* -------- =========== Contact ============-------- */
.contact {
  position: relative;
  bottom: -8rem;
  width: 65%;
  height: auto;
  margin: 0 auto;
  padding: var(--space-7);
  text-align: center;
  background-color: var(--testimonials-background);
  border-radius: var(--radius-lg);
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;

  h1 {
    font-size: var(--font-size-lg);
    font-weight: var(--weight-blod);
  }
  p {
    padding: var(--space-4) var(--space-7);
    font-size: var(--font-size-sm);
  }
  .contenair-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    input {
      width: 70%;
      padding: var(--space-2) var(--space-4);
      border: none;
      border-radius: var(--radius-md);
    }
    input:focus {
      outline: none;
      box-shadow: none;
    }

    button {
      border: none;
      color: var(--color-light);
      font-weight: var(--weight-semi-bold);
      border-radius: var(--radius-md);
      padding: var(--space-2) var(--space-4);
      background-color: var(--btn-default-color);
      transition: var(--transition-normal);
      cursor: pointer;
    }
    button:hover {
      background-color: var(--btn-hover-color);
    }
  }
}

/* --------------------- Footer -----------------*/

.footer_section{
    background: #0b1c26;
    padding: 12rem var(--space-7) var(--space-5);
}

.contenair_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  margin-top: 1.5rem;
}

.logo_content{
  width: 300px;
  margin-top: 15px;
  display: flex;
  gap: 30px;
}

.logo_content img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.logo_content p {
  text-align: justify;
}

.footer-item{
  display: flex;
  gap: 20px;
}

.links_footer{
  color:var(--color-light) ;
  text-decoration:none;
  font-size: 15px;
  gap: 20px;
}

.links_footer ul li {
margin-bottom: 15px;
}

.links_footer a:hover{
  color: white;
  font-weight: bold;
}

.direct_link ul {
  list-style: none;
  padding: 0px;
}

.direct_link ul li{
  margin-bottom: 15px;
}

.direct_link a:hover{
  color: white;
  font-weight: bold;
}

.contact_footer .footer-item{
  margin-bottom: 15px;
}

.contact_footer .footer-item :hover{
  color: white;
  font-weight: bold;
}

.social_footer a {
  border: 1px solid white;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: var(--transition-normal );
}

.social_footer a:hover {
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-color); 
}


/* < ======================================================== > */
/* Media Queries */
/* screen mobile 320px -> 480px */

@media /*(max-width: 760px) */ only screen and (min-width: 320px) and (max-width: 480px) {
  header {
    padding: var(--space-3);
  }

  /* logo mobile */
  .logo {
    width: 25%;
    height: auto;
  }

  /* contenair links head  mobile*/
  .menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);

    li {
      margin: 0;
    }
  }

  /* main  */
  main {
    background-image: url(../assets/images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  /* section hero */
  .Hero-section {
    width: 100%;
    margin-top: var(--space-7);
    padding-bottom: 0;
    background-image: url(../assets/images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* hero image */
    .img-hero {
      width: 80%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    h1 {
      font-size: var(--font-size-lg);
      font-weight: var(--weight-blod);
      line-height: 2.2rem;
      margin: var(--space-4) 0;
      color: var(--color-light);
      padding: 0 var(--space-1);
      text-align: center;
      z-index: 5;
    }

    p {
      font-size: var(--font-size-sm);
      font-weight: var(--weight-semi-bold);
      text-align: center;
      line-height: var(--space-3);
      padding: 0 var(--space-1);
      z-index: 5;
    }
  }

  .full-color-mobile {
    position: relative;
    top: -10rem;
    padding-top: 6rem;
    width: 100%;
    height: 10rem;
    background-color: var(--main-background);
  }

  /* Responsive Services*/

  .services {
    position: relative;
    top: -10rem;
    margin: 0;
    padding: 0 var(--space-2);
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background);
    z-index: 10;
  }
  .service-card {
    padding: 0%;
    width: 100%;
    min-height: 320px;
    justify-content: center;
  }

  .block-illus {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-2);
    flex-wrap: wrap;
    margin: 0;
    padding: 20px;
  }
  .block1 {
    padding-left: 0%;
    padding: 0;
    width: 100%;
    min-height: 320px;
  }
  .block2 {
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
  }
  .block2 h1 {
    font-weight: var(--weight-blod);
    font-size: var(--font-size-base);
    
  }

  /* ====== Contact ========= */

  .contact {
    width: 90%;
    padding: var(--space-2);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);

    h1 {
      font-size: var(--font-size-lg);
      font-weight: var(--weight-blod);
    }
    p {
      padding: var(--space-4) var(--space-2);
    }
    .contenair-input {
      display: flex;
      flex-direction: column;

      input {
        width: 90%;
      }

      button {
        width: 90%;
        margin: var(--space-3) 0;
      }
    }
  }

  /* ============= Footer ==================== */

/* section footer */
  .footer_section{
    flex-direction: column;
  }

  .contenair_footer{
    flex-direction: column;
  }

  .social_footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

